<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>angularFilter</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<script type="text/javascript" src="js/angular.min.js" ></script>
<script type="text/javascript" src="js/index.js"></script>
</head>

<body ng-app="myApp" ng-controller="productController">

<div class="container">
  <form class="navbar-form pull-left">
    <input type="text" class="span2" placeholder="Search" ng-model="search.iD"><!--这里设置按那块搜索项目-->
  </form>
  <table class="table">
    <thead>
      <tr> 
        <th ng-class="{dropup:order ===''}" ng-click="changeOrder('iD')"> 产品编号<span class="caret"></span> </th>
        <th ng-class="{dropup:order ===''}" ng-click="changeOrder('name')"> 产品名称<span class="caret"></span> </th>
        <th ng-class="{dropup:order ===''}" ng-click="changeOrder('img')"> 图片<span class="caret"></span> </th>
        <th ng-class="{dropup:order === ''}" ng-click="changeOrder('price')"> 产品价格<span class="caret"></span> </th>
      </tr>
    </thead>
    <tbody>
      
      <tr ng-repeat="product in products | filter:search | orderBy : order+orderType">
        <td> {{product.iD}} </td>
        <td> {{product.name}} </td>
        <td><img style="width:150px;height:100px" ng-src="{{product.img}}"></td>
        <td> {{product.price | currency : "(RMB)"}} </td>
        <td><input type="button" value="编辑" ></td>
        <td><input type="button" value="删除" ></td>
      </tr>
    </tbody>
  </table>
</body>
</html>